@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

<p>Founded in 2022 by students of the CIS 400 course, Dino Diner offers the finest prehistoric fare for your dining delight!</p>
