@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Dino Diner Website Privacy Policy</h1>

<p>Dino Diner respects the privacy of our diners. This site does not collect your data. This site does not use cookies. This site only offers information about Dino Diner restaurant and its menu selection.</p>
